html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212529;
    color: gray;
}

.container-fluid {
    width: 100%;
    height: 100%;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

footer {
    padding: 0;
    margin-top: 12px;
    border-top: 1px gray solid;
    color: gray;
    padding: 15px;
}

/* Ocultar la barra de desplazamiento inicialmente */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.card {
    background-color: #283e06;
    color: black;
    font-weight: bold;
}

.card img {
    object-fit: cover; /* Mantiene las proporciones de la imagen */
    object-position: center; /* Centra la imagen en el contenedor */
}

.ejemploprompt {
    color: #198754; /* Color del texto (verde) */
    border: 1px solid #198754; /* Borde del mismo color que el texto */
    background-color: transparent; /* Fondo transparente */
    padding: 0.375rem 0.75rem; /* Padding similar al de Bootstrap */
    font-size: 1rem; /* Tamaño de fuente estándar */
    border-radius: 0.25rem; /* Borde redondeado */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transiciones */
    cursor: pointer; /* Cambia el cursor al de pointer */
}

.ejemploprompt:hover {
    color: #fff; /* Cambiar el color del texto al blanco */
    background-color: #198754; /* Fondo verde al hacer hover */
    border-color: #198754; /* Mantiene el color del borde al hacer hover */
}

.ejemploprompt:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5); /* Sombra para accesibilidad al hacer focus */
    outline: none; /* Elimina el borde predeterminado de focus */
}

.ejemploprompt:active {
    background-color: #146c43; /* Color más oscuro cuando se presiona */
    border-color: #146c43; /* Cambiar el borde al presionar */
}